.jumbotron {
    background-color: red;
    color: white;
}

.employee-card  {
    margin: 10px;
    flex-basis: 350px;
}

.card-header {
    background-color: blue;
    color: white;
}

.card-area {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
    justify-content: center;
}